@import '../../styles/variables';

.container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 80px;
    .card{
        background-color: $hover;
        margin: 10px;
    }
}

@media screen and (max-width: $layout) {
    .container {
        padding: 50px 20px;
    }
}

@media screen and (max-width: $layout) {
    .container {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}