@import '../../styles/variables';

.name{
    width: 100%;
    h1{
        font-size: 4.5rem;
        font-weight: 900;
        letter-spacing: 0;
        margin: 0 1rem;
        @include text-gradient-on-black;
    }
    span{
        margin: 0 1.1rem;
        font-weight: 700;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: $layout) {
    .name{
        text-align: left;
        h1{
            font-size: 3rem;
        }
        span {
            display: none;
        }
    }
}